.span-color {
    color: lightcoral;
}

.select-option-height {
    height: 30px;
}

.form-width {
    width: 60%;
}

.tooltip-question-mark {
    width: 21px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    font-size: 12px;
}