body {
	background-color:rgb(13,110,253, .1);
}

/* .custom-color-dark {
	background-color: rgb(33, 37, 41, .001);
} */

/* .dropdown-bg-custom {
    background-color: rgb(200,201,115);
} */

/* .text-bg-custom {
    background-color: rgba(255,193,7, .4);
} */

/* .btn-warning {
	background-color: rgba(255, 193, 7, .6);
	border-color: rgba(255, 193, 7, .4);
} */

/* .btn-warning:hover {
	background-color: rgba(255, 193, 7, .7);
	border-color: rgba(255, 193, 7, .7);
} */

/* .btn-outline-warning {
	border-color: rgba(255, 193, 7, .4);
} */

/* .btn-outline-warning:hover {
	background-color: rgba(255, 193, 7, .7);
	border-color: rgba(255, 193, 7, .7);
} */