.description-width {
    width: 90%;
}

.http-ref-card-width {
    width: 300px;
}

.exercise-card-width {
    width: 300px;
}

.workout-card-width {
    width: 300px;
}

.body-parts {
    background-color: lightgray;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.body-parts-span {
    display: inline-block;
    margin-bottom: 8px; 
}

.body-part-checkbox-width {
    width: 120px;
}

.http-ref-checkbox-width {
    width: 180px;
}

.exercise-checkbox-width {
    width: 220px;
}

.checkboxes-scroll {
    height: 300px; 
    overflow: auto;
}

.elements-border {
    border: 1px solid lightgrey;
    padding: 6px;
    border-radius: 6px;
}